@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model ASP_NET_Core_Fundamentals.ViewModels.HomePageVM

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welkom!</h1>
    <h3>@Model.CurrentGreeting</h3>
    <table>
    @foreach (var item in Model.Restaurants)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
        
    }
    </table>


    <div>Dit is de Home page. From a MVC View!</div>
</body>
</html>
